fbpager.alpha: 200
fbpager.x: 0
fbpager.y: 0
fbpager.workspace.width: 80
fbpager.workspace.height: 60
fbpager.workspacesPerRow: 4
fbpager.followDrag: true
fbpager.followMove: true
fbpager.followResize: false
fbpager.changeWorkspaceButton: 1
fbpager.raiseWindowButton: 2
fbpager.lowerWindowButton: 3
fbpager.closeWindowButton: 3 3 1
fbpager.exitButton: 0
fbpager.nextWorkspaceButton: 4
fbpager.prevWorkspaceButton: 5
fbpager.moveInWorkspaceButton: 0
fbpager.dragToWorkspaceButton: 2
fbpager.align: LeftToRight
fbpager.color: grey20
fbpager.windowColor: rgb:30/60/a0
fbpager.focusedWindowColor: rgb:50/a0/f0
fbpager.windowBorderColor: black
fbpager.backgroundColor: rgb:14/14/14
fbpager.currentBackgroundColor: rgb:20/20/30
fbpager.multiClickTime: 250
fbpager.icons: false
fbpager.windowBorderWidth: 1
fbpager.layer: 2
fbpager.windowAlpha: 120